# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.sqlite3

# Virtual environment
venv/
env/
ENV/

# Flask
instance/
*.db
*.sqlite3

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Logs
*.log

# dotenv
.env
node_modules
